# Node
node_modules/
webapp/.next/
webapp/node_modules/
webapp/out/

# Python
__pycache__/
*.py[cod]
api/.venv/

# General
.env
.DS_Store
api/.env.cloud
.git

# Client Secret
clientsecret.json
client_secret_*.json
